# Borrower Reliability Study

**The customer** is the credit department of the bank. It is necessary to find out whether the marital status and the number of children of the client affect the fact of repaying the loan on time. 

Input bank data - statistics on the solvency of customers.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [4]:
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

In [5]:
data.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

Approximately 10 % missings in columns `days_employed` и `total_income`.

In [6]:
data.isna().mean()

children            0.000000
days_employed       0.100999
dob_years           0.000000
education           0.000000
education_id        0.000000
family_status       0.000000
family_status_id    0.000000
gender              0.000000
income_type         0.000000
debt                0.000000
total_income        0.100999
purpose             0.000000
dtype: float64

# EDA

Need to check for duplicates

In [7]:
data.loc[data.duplicated()==True]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
2849,0,NaN,41,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,покупка жилья для семьи
4182,1,NaN,34,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,NaN,свадьба
4851,0,NaN,60,среднее,1,гражданский брак,1,F,пенсионер,0,NaN,свадьба
5557,0,NaN,58,среднее,1,гражданский брак,1,F,пенсионер,0,NaN,сыграть свадьбу
7808,0,NaN,57,среднее,1,гражданский брак,1,F,пенсионер,0,NaN,на проведение свадьбы
8583,0,NaN,58,высшее,0,Не женат / не замужем,4,F,пенсионер,0,NaN,дополнительное образование
9238,2,NaN,34,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,покупка жилья для сдачи
9528,0,NaN,66,среднее,1,вдовец / вдова,2,F,пенсионер,0,NaN,операции со своей недвижимостью
9627,0,NaN,56,среднее,1,женат / замужем,0,F,пенсионер,0,NaN,операции со своей недвижимостью
10462,0,NaN,62,среднее,1,женат / замужем,0,F,пенсионер,0,NaN,покупка коммерческой недвижимости
10697,0,NaN,40,среднее,1,гражданский брак,1,F,компаньон,0,NaN,сыграть свадьбу
10864,0,NaN,62,среднее,1,женат / замужем,0,F,пенсионер,0,NaN,ремонт жилью
10994,0,NaN,62,среднее,1,женат / замужем,0,F,пенсионер,0,NaN,ремонт жилью
11791,0,NaN,47,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,строительство недвижимости
12373,0,NaN,58,среднее,1,женат / замужем,0,M,сотрудник,0,NaN,покупка недвижимости
12375,1,NaN,37,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,покупка недвижимости
12736,0,NaN,59,среднее,1,женат / замужем,0,F,пенсионер,0,NaN,заняться образованием
13025,1,NaN,44,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,сделка с подержанным автомобилем
13639,0,NaN,64,среднее,1,женат / замужем,0,F,пенсионер,0,NaN,автомобиль
13773,0,NaN,35,среднее,1,гражданский брак,1,F,сотрудник,0,NaN,сыграть свадьбу
13878,1,NaN,31,среднее,1,женат / замужем,0,F,компаньон,0,NaN,покупка жилья
13942,0,NaN,44,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,приобретение автомобиля
14432,2,NaN,36,высшее,0,женат / замужем,0,F,госслужащий,0,NaN,получение образования
14832,0,NaN,50,среднее,1,Не женат / не замужем,4,F,сотрудник,0,NaN,недвижимость
15091,0,NaN,58,среднее,1,гражданский брак,1,M,сотрудник,0,NaN,на проведение свадьбы
15188,0,NaN,60,среднее,1,женат / замужем,0,M,сотрудник,0,NaN,покупка недвижимости
15273,0,NaN,57,среднее,1,гражданский брак,1,F,пенсионер,0,NaN,свадьба
16176,0,NaN,47,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,ремонт жилью
16378,0,NaN,46,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,высшее образование
16902,2,NaN,39,среднее,1,гражданский брак,1,F,сотрудник,0,NaN,сыграть свадьбу
16904,1,NaN,32,высшее,0,женат / замужем,0,F,сотрудник,0,NaN,на покупку подержанного автомобиля
17379,0,NaN,54,высшее,0,женат / замужем,0,M,компаньон,0,NaN,операции с коммерческой недвижимостью
17755,1,NaN,43,среднее,1,женат / замужем,0,M,сотрудник,0,NaN,заняться образованием
17774,1,NaN,40,среднее,1,гражданский брак,1,F,компаньон,0,NaN,строительство жилой недвижимости
18328,0,NaN,29,высшее,0,женат / замужем,0,M,сотрудник,0,NaN,покупка жилой недвижимости
18349,1,NaN,30,высшее,0,женат / замужем,0,F,госслужащий,0,NaN,покупка жилья для семьи
18428,0,NaN,64,среднее,1,женат / замужем,0,F,пенсионер,0,NaN,жилье
18521,0,NaN,56,среднее,1,гражданский брак,1,F,сотрудник,0,NaN,сыграть свадьбу
18563,0,NaN,54,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,операции со своей недвижимостью
18755,0,NaN,58,среднее,1,женат / замужем,0,F,пенсионер,0,NaN,заняться образованием
19041,0,NaN,56,среднее,1,гражданский брак,1,F,сотрудник,0,NaN,на проведение свадьбы
19184,0,NaN,46,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,свой автомобиль
19321,0,NaN,23,среднее,1,Не женат / не замужем,4,F,сотрудник,0,NaN,сделка с подержанным автомобилем
19387,0,NaN,38,высшее,0,гражданский брак,1,F,компаньон,0,NaN,на проведение свадьбы
19688,0,NaN,61,среднее,1,женат / замужем,0,F,пенсионер,0,NaN,операции с недвижимостью
19832,0,NaN,48,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,ремонт жилью
19946,0,NaN,57,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,сделка с подержанным автомобилем
20116,0,NaN,57,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,свадьба
20165,0,NaN,42,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,покупка жилья для семьи
20702,0,NaN,64,среднее,1,женат / замужем,0,F,пенсионер,0,NaN,дополнительное образование
21032,0,NaN,60,среднее,1,женат / замужем,0,F,пенсионер,0,NaN,заняться образованием
21132,0,NaN,47,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,ремонт жилью
21281,1,NaN,30,высшее,0,женат / замужем,0,F,сотрудник,0,NaN,покупка коммерческой недвижимости
21415,0,NaN,54,среднее,1,женат / замужем,0,F,пенсионер,0,NaN,операции с жильем

Change missing values to median

In [8]:
data['days_employed'] = abs(data['days_employed'])     # Using abs() to remove minus signs in a column 'days_employed'
median_days_employed = data['days_employed'].median()  # median parameter value by column days_employed



data['days_employed'] = data['days_employed'] \
                        .fillna(median_days_employed)  # fill column with median value 'days_employed'

data['total_income'] = data['total_income'] \
                        .fillna(data.groupby(['income_type'])['total_income'] \
                        .transform('median'))          # fill column with median value 'total_income'

In [9]:
data[['days_employed','total_income']].describe()

       days_employed  total_income
count   21525.000000  2.152500e+04
mean    60378.032733  1.652253e+05
std    133257.558514  9.804367e+04
min        24.141633  2.066726e+04
25%      1025.608174  1.077982e+05
50%      2194.220567  1.425944e+05
75%      4779.587738  1.955499e+05
max    401755.400475  2.265604e+06

Missing values in columns `'days_employed'` and `total_income'` columns.

 - Missings are possible if the client did not work and did not have income;
 - Missings could be formed due to the human factor.

We use the median because it outliers independent.

Replace the value "20" in the column "children" with the value "2" and "-1" with "1".

In [10]:
data['total_income'] = data['total_income'].astype(int)   # change data type from float to int
data['days_employed'] = data['days_employed'].astype(int) # change data type from float to int

data['education'] = data['education'].str.lower()         # remove upper letters
# print(data['education'].unique())
# print(data['education'].value_counts())

data = data.drop_duplicates().reset_index(drop=True)      # remove duplicate lines
# print(data.head())

data['children'] = data['children'].replace(20, 2)        

data['children'] = data['children'].replace(-1, 1)

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

Found one line with the gender value - 'XNA' - most likely a missing. I don't know the real gender of the person. We will not use the value in the calculations.

In [12]:
data['gender'].unique()

array(['F', 'M', 'XNA'], dtype=object)

In [13]:
data['debt_id'] = data['debt'].copy

### Dataframes creation

In [14]:
data_edu = data[['education_id','education']].copy()                           
data_family = data[['family_status_id','family_status']].copy()               

data_edu = data_edu.drop_duplicates()                                           # delete duplicates
data_family = data_family.drop_duplicates()                                     # delete duplicates
data.drop(columns = ['education'], axis = 1, inplace=True)                      # remove column 'education' from data
data.drop(columns = ['family_status'], axis = 1, inplace=True)                  # remove column  'family_status' from data
#print(data_edu)
#print(data_family)

Creation column `'total_income_category'` with categories

In [15]:
def get_total_income_category (total_income):             
    if 0 <= total_income <= 30000:
        return 'E до 30к'
    elif 30001 <= total_income <= 50000:
        return 'D до 50к'
    elif 50001 <= total_income <= 200000:
        return 'C до 200к'
    elif 200001 <= total_income <= 1000000:
        return 'B до 1кк'
    else:
        return 'A выше 1кк'

data['total_income_category'] = data['total_income'].apply(get_total_income_category)

Creation column 'purpose_category' with categories

In [16]:
def get_purpose_category(purpose):               # создаю функцию для категоризации столбца "purpose"
    if 'авто' in purpose:
        return 'операции с автомобилем'
    elif 'свадь' in purpose:
        return 'проведение свадьбы'
    elif 'разован' in purpose:
        return 'получение образования'
    elif 'недвиж' or 'жиль' in purpose:
        return 'операции с недвижимостью'
    else:
        return 'другая категория'

data['purpose_category'] = data['purpose'].apply(get_purpose_category)

### Is there a relationship between the number of children and loan repayment on time?


- No relationship was found. 

Sample is small. 

People take loans regardless of the number of children. 

In addition, it can be said for sure that the number of loans taken decreases with the increase in the number of children.

In [17]:
data_pivot = data.pivot_table(index='children', columns='debt_id', values='debt', aggfunc='count') 
print(data_pivot)
print()
children_debt = pd.DataFrame() 
children_debt['overal_borrower'] = data.groupby('children')['debt'].count() 
children_debt['debtor'] = data.groupby('children')['debt'].sum() 
children_debt['%'] = (children_debt['debtor'] / children_debt['overal_borrower'])* 100
children_debt = children_debt.sort_values(by='%',ascending=False)

display(children_debt[['overal_borrower','debtor','%']])

debt_id   <bound method NDFrame.copy of 0        0\n1        0\n2        0\n3        0\n4        0\n        ..\n21449    0\n21450    0\n21451    1\n21452    1\n21453    0\nName: debt, Length: 21454, dtype: int64>
children
0                                                     14091
1                                                      4855
2                                                      2128
3                                                       330
4                                                        41
5                                                         9

          overal_borrower  debtor         %
children
4                      41       4  9.756098
2                    2128     202  9.492481
1                    4855     445  9.165808
3                     330      27  8.181818
0                   14091    1063  7.543822
5                       9       0  0.000000

In [18]:
data.pivot_table(index='children', values='debt') * 100

              debt
children
0         7.543822
1         9.165808
2         9.492481
3         8.181818
4         9.756098
5         0.000000

### Is there a relationship between marital status and loan repayment on time?

In general, yes, there is a dependence. Unmarried people have a higher percentage of late deadlines.

But those who are divorced or widowed are more likely to pay on time than people who are married. Also, if we divide people into just two categories "married" and "unmarried", then we will see that the "debtor / overal_borrower" ratio is greater in unmarried people.

This means that they remain in debt more often.

In [19]:
data_pivot1 = data.pivot_table(index='family_status_id', columns='debt_id', values='debt', aggfunc='count')
print(data_pivot1)

family_debt = pd.DataFrame()
family_debt['debtor'] = data.groupby('family_status_id')['debt'].sum() 
family_debt['overal_borrower'] = data.groupby('family_status_id')['debt'].count() 
family_debt['%'] = (family_debt['debtor'] / family_debt['overal_borrower']) * 100 

print(family_debt[['debtor','overal_borrower','%']])

debt_id           <bound method NDFrame.copy of 0        0\n1        0\n2        0\n3        0\n4        0\n        ..\n21449    0\n21450    0\n21451    1\n21452    1\n21453    0\nName: debt, Length: 21454, dtype: int64>
family_status_id
0                                                             12339
1                                                              4151
2                                                               959
3                                                              1195
4                                                              2810
                  debtor  overal_borrower         %
family_status_id
0                    931            12339  7.545182
1                    388             4151  9.347145
2                     63              959  6.569343
3                     85             1195  7.112971
4                    274             2810  9.750890

In [20]:
family_debt

                  debtor  overal_borrower         %
family_status_id
0                    931            12339  7.545182
1                    388             4151  9.347145
2                     63              959  6.569343
3                     85             1195  7.112971
4                    274             2810  9.750890

### Is there a relationship between income level and loan repayment on time?

- No dependency found. 

People in the category "C" and "B" take loans more often than others. Repay debts more often people in category "D".

In [21]:
data_pivot_level_income = data.pivot_table(index='total_income_category', columns='debt_id',values='debt',aggfunc='count')
print(data_pivot_level_income)
print()

income_debt = pd.DataFrame()
income_debt['debtor'] = data.groupby('total_income_category')['debt'].sum() 
income_debt['overal_borrower'] = data.groupby('total_income_category')['debt'].count() 
income_debt['%'] = (income_debt['debtor'] / income_debt['overal_borrower']) * 100 
income_debt = income_debt.sort_values(by='%', ascending=False) 

print(income_debt[['debtor','overal_borrower','%']])

debt_id                <bound method NDFrame.copy of 0        0\n1        0\n2        0\n3        0\n4        0\n        ..\n21449    0\n21450    0\n21451    1\n21452    1\n21453    0\nName: debt, Length: 21454, dtype: int64>
total_income_category
A выше 1кк                                                            25
B до 1кк                                                            5042
C до 200к                                                          16015
D до 50к                                                             350
E до 30к                                                              22

                       debtor  overal_borrower         %
total_income_category
E до 30к                    2               22  9.090909
C до 200к                1360            16015  8.492039
A выше 1кк                  2               25  8.000000
B до 1кк                  356             5042  7.060690
D до 50к                   21              350  6.000000

In [22]:
income_debt

                       debtor  overal_borrower         %
total_income_category
E до 30к                    2               22  9.090909
C до 200к                1360            16015  8.492039
A выше 1кк                  2               25  8.000000
B до 1кк                  356             5042  7.060690
D до 50к                   21              350  6.000000

### How do different purposes of a loan affect its repayment on time?

- No specific relationship found.

People pay on time for the purpose of a loan to buy real estate. Often the debt is overdue for those who need a loan for a car
and education. Loans for a wedding overstay less often - about the same as in the case of real estate.

In [23]:
data_pivot_purpose = data.pivot_table(index='purpose_category', columns='debt_id',values='debt',aggfunc='count')
print(data_pivot_purpose)

purpose_debt = pd.DataFrame()
purpose_debt['debtor'] = data.groupby('purpose_category')['debt'].sum()
purpose_debt['overal_borrower'] = data.groupby('purpose_category')['debt'].count()
purpose_debt['%'] = (purpose_debt['debtor'] / purpose_debt['overal_borrower'] ) * 100 
purpose_debt = purpose_debt.sort_values(by='%', ascending=False)

print(purpose_debt[['debtor','overal_borrower','%']])

debt_id                   <bound method NDFrame.copy of 0        0\n1        0\n2        0\n3        0\n4        0\n        ..\n21449    0\n21450    0\n21451    1\n21452    1\n21453    0\nName: debt, Length: 21454, dtype: int64>
purpose_category
операции с автомобилем                                                 4306
операции с недвижимостью                                              10811
получение образования                                                  4013
проведение свадьбы                                                     2324
                          debtor  overal_borrower         %
purpose_category
операции с автомобилем       403             4306  9.359034
получение образования        370             4013  9.220035
проведение свадьбы           186             2324  8.003442
операции с недвижимостью     782            10811  7.233373

In [24]:
purpose_debt

                          debtor  overal_borrower         %
purpose_category
операции с автомобилем       403             4306  9.359034
получение образования        370             4013  9.220035
проведение свадьбы           186             2324  8.003442
операции с недвижимостью     782            10811  7.233373

# Conclusion



The data has been well researched. Duplicate has been removed. The average gaps in the `"days_employed"` and `"total_income"` columns are about 10%. No missings were found in the rest of the data. From the `'days_employed'` column anomalies in the form of "-" signs were excluded and the missings were filled with the median value. Exactly the same operation was done with the data `'total_income'` column. Only the median value was weighted by the `'income_type'` column.



- marital status affects the likelihood of loan payments on time. 9,75% of debtors from the "not married" category. People who have been married are more likely to dance on time than those who have not been married. Divorced and widowed people pay on time more often than married people. 

- The more children, the more often they pay late. Childless people are less likely to overpay. Larger number of debtors in the category of having 4 children where 10% of debtors.
  
- People pay on time for the purpose of a loan to buy real estate. Often the debt is overdue for those who need a loan for a car and education. Loans for a wedding overstay less often - about the same as in the case of real estate. Most debtors take out a car loan.
  
- People in the category "C" and "B" take loans more often than others. Repay debts more often people in category "D". Most debtors earn up to 30k - 9%.